body{margin: 0;}

.myNav{
    background-color: #9DC08B;
    height: 5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 2rem;
    position: relative;
    left: 25%;
}

.theBody{
    height: 100%;
    width: 100%;
}
.hHeadr{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.headr{
    font-size: 3rem;
}

#shopImage{
    width: 25rem;
}

.hbody{
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow-y: scroll;
}

.item{
    height: 10rem;
    width: auto;
    background-color: #9DC08B;
    display: flex;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.itemImg{
    width: 100%;
    background-size:contain;
    background-repeat: no-repeat;
    margin-right: 1rem;
    /* background-color: gray; */
}
.logo a{
    text-decoration: none;
    color: black;
}
.rightBar{
    height: 100%;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 25px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.itemCatgory{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    opacity: 0.6;
    
}

footer{
    background-color: #9DC08B;
    height: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

@media screen and (min-width:960px) {
    .itemImg{
        width: 20%;
    }
    .item{
        width: 70%;
    }
    .hbody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #shopImage{
        position: relative;
        left: 3rem;
    }
}

@media screen and (max-width:560px) {
    .hHeadr{
        justify-content: center;
    }
    .headr{
        font-size: 2rem;
        position: relative;
        left: 2rem;
    }
   
    .item{
        flex-direction: row;
        height: 10rem;
        position: relative;
    }
    .rightBar{
        position: absolute;
        width: 60%;
        height: 80%;
        right: 0;
        margin-right: 1rem;
    }
    .itemImg{
        height: 100%;
        width: 30%;
    }
    .logo{
        position: static;
    }
}