body{margin: 0;}

::-webkit-scrollbar {
    display: none;
}

.myNav{
    background-color: #609966;
    height: 5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.myNav img{
    height: 4rem;
}

.logo{
    font-size: 2rem;
    position: relative;
    left: 25%;
}
.logo a {text-decoration: none;color: black;}

.hHeadr{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.headr{
    font-size: 3rem;
}

.shopImage{
    width: 25rem;
    position: relative;
    right: 1rem;
    background-color: #609966;
}

/* .hbody{
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow-y: scroll;
    background-color: rebeccapurple;
} */

/* .item{
    height: 10rem;
    width: auto;
    background-color: #9DC08B;
    display: flex;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */

/* .itemImg{
    width: 100%;
    background-size:contain;
    background-repeat: no-repeat;
    margin-right: 1rem;
    /* background-color: gray; */
 */

.logo a{
    text-decoration: none;
    color: black;
}

.theBody{
    position: relative;
    top: 2rem;
    height: 570px;
    width: 100%;
    /* background-color: #609966; */
    margin-top: 6rem;
    border-radius: 25px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 6rem 20% 0 10%;
}

.leftBar{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    position: relative;
    overflow-y: scroll;

}
.rightBar{
    width: 70%;
    height: 100%;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}

.item0{
    color: white;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: static;
    height: 10rem;
    width: 100%;
    background-color: #9DC08B;
    display: flex;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0, 0.15);
    /* border-bottom-left-radius: 25px;
    border-top-left-radius: 25px; */

}

.itemRightBar{
    position: relative;
    /* background-color: white; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    overflow: hidden;
    overflow-y: scroll;
}

.itemImg0{
    width: 40%;
    height: 80%;
    margin: auto;
    background-size:contain;
    background-repeat: no-repeat;
    /* margin-right: 1rem; */
    /* background-color: gray; */
}
/* .rightBar{
    height: 100%;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 25px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

} */

.itemCatgory{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    opacity: 0.6;
    
}

.itemName{
    font-size: 2rem;
}

.itemPrice{
    color: red;
}

.thisItemImg{
    margin-top: 2rem;
    width: 30%;
    height: 100%;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: #609966; */
}
.infoBar{
    display: flex;
    margin: 2rem;
}
.infoBar div{margin: 1rem;}

dialog{
    position: absolute;
    left: 20%;
    padding: 1rem;
    border-radius: 25px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1rem solid #609966;
    z-index: 2;
}
#dial textarea{

}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #609966;
    color: white;
    text-align: center;
}

.btnBar{
    position: relative;
    top: 1rem;
    /* background-color: #609966; */
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.btnBar button{margin: 1rem;width: 5rem;}

.thisItemDesc{
    height: 100%;
    width: 100%;
}

.itemBottom{
    /* background-color: aqua; */
    overflow-y: scroll;
    overflow-x: scroll;
}
@media screen and (max-width:740px) {
    .theBody{
        /* background-color: aqua; */
        margin: 6rem 0 0 0 ;
    }
    .leftBar{
        width: 40%;
    }
    .rightBar{
        width: 60%;
    }
}


@media screen and (max-width:560px) {
    .hHeadr{
        justify-content: center;
    }
    .headr{
        font-size: 2rem;
        position: relative;
        left: 2rem;
    }
   
    .item{
        flex-direction: row;
        height: 10rem;
        position: relative;
    }
    .theBody{
        flex-direction: column;
        margin-top: 4rem;
        height: 650px;
    }
    .rightBar{
       width: 100%;
       height: 60%;
       border-radius: 0%;
       margin-top: 2rem;
       /* background-color: blue; */
       margin: 0;
    }
    .leftBar{
        width: 100%;
        height: 40%;
    }
    .leftBar .item0{
        font-size: 1rem;
    }
    .itemImg{
        height: 100%;
        width: 30%;
    }
    .logo{
        position: static;
    }
    .thisItemImg{
        margin-top: 18rem;
        padding: 5rem;
        height: 100%;
    }
    .item0{
        margin: auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .itemImg0{
        width: 30%;
        height: 100%;
    }
    .itemRightBar{
        width: 60%;
    }
}