/* 
#EDF1D6 
#9DC08B
#609966
#40513B 
*/
html{
padding: 0%;
margin: 0%;
}

.nav-page{
    background-color: #609966;
    height: 7rem;
}
.brand{
    width: 5rem;
  padding: 1rem 0;
}
#title{
    background-color: #609966;
    color: white;
}
body{
    font-family: 'Ubuntu'
}
.discription p {
    color: #fff;
    padding: 1% 9%;
}


.title-dis{
    padding: 10% 3% 3% 2%;
}

.btn{
    width: 25%;
    margin: 2.5rem
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{       
    padding: 0% 15%  14%  15% ;
    background-color: #0000;
}
.img-sell{
    transform: rotate(25deg); 
    max-width: 100%;
    height: auto;
    position: absolute;
}
.brand{

}
.navbar{
padding: 3.5rem;
}
.navbar-brand{
font-family: 'Ubuntu';
font-weight: bold;
font-size: 2.5rem;
}
.navbar-item{
    padding: 20px;
    font-size: xx-large;
}

#features{
    padding: 5% 15%;
    background-color: #EDF1D6;
    position: relative;
    z-index: 1;
}

#features h3 { 
    color: #609966;
    position: relative;
    margin-top: 5%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
p{
    color: #8f8f8f;
}
h3{
font-family: 'Montserrat';
}
.icon{
    color: #9DC08B;
    margin: 1rem;
    vertical-align: middle;
    padding: 0% 10%;
    line-height: 50px;
    position: relative;
    text-align:center;
}
.icon:hover{
    color: #609966;
}

/* item section */
#item{
    background-color: #609966;
    padding: 5% 15%;
}
.item-header{
    text-align: center;
    margin: 0% 0% 5% 0%;
    color: #EDF1D6;
}
.item-container{
    text-align: center;
}
.card{
    background-color: #EDF1D6;
    width: 18rem;
    border-radius: 5%;
    margin-top: 5%;
}
.card:hover{
    box-shadow: 5px 5px #40513B;
}
.btn{
    width: 150px;
    text-align: center;
}

form {
    padding: 5%;
    background-color: #EDF1D6;
    border-radius: 5%;
    margin: 5% 0% 5% 0%;
}

.form-group {
    margin: 5% 0% 5% 0%;
}

input[inputmode=numeric], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 100%;
    background-color: #609966;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #40513B;
}

#photo {
  border: 1px solid #e5e5e5;
  margin: 0 auto;
  margin-bottom: 5%;
}

aside {
    background-color: #EDF1D6;
    padding: 5%;
    border-radius: 5%;
    margin: 5% 0% 5% 0%;
}

input[type=file]::file-selector-button {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin-right: 20px;
  transition: .5s;
}

input[type=file]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
}

/* footer section */

footer{
    background-color: #EDF1D6;
    text-align: center;
    padding: 1%;
}






@media screen and (max-width:1028px){
    #title{
        background-color: #ff4c68;
        color: white;
        text-align:center;
    }
    .img-iphone{
        transform: rotate(0); 
        max-width: 100%;
        height: auto;
        position: static;
    }
}