<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my Items</title>
    <link rel="stylesheet" href="css/itemListStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="myNav">
        <a href="/">
          <img src="https://cdn-icons-png.flaticon.com/512/5187/5187237.png" class="brand">
        </a>
    </nav>
    <main id="<%= userId %>" class="theBody">
        <!-- <div class="hHeadr">
            <div class="headr">Your <br>items:</div>
            <img id="shopImage" src="https://img.freepik.com/free-vector/cartoon-style-cafe-front-shop-view_134830-697.jpg" alt="">
        </div>
        <div class="hbody">
            
        </div> -->
        <div class="leftBar">
          <!-- <div class="item0">
              <div style="background-image: url('https://www.mintmobile.com/wp-content/uploads/2022/09/iPhone_14_Plus_ProductRED_PDP_Image_Position-1A__en-US-min-1.png');" class="itemImg0"></div>
              <div class="itemRightBar">
                  <div class="itemCategory">Electronics</div>
                  <div class="itemName">phone</div>
                  <div class="itemPrice">300<span>SR</span></div>
              </div>
          </div>
          <div class="item0">
              <div style="background-image: url('https://www.mintmobile.com/wp-content/uploads/2022/09/iPhone_14_Plus_ProductRED_PDP_Image_Position-1A__en-US-min-1.png');" class="itemImg0"></div>
              <div class="itemRightBar">
                  <div class="itemCategory">Electronics</div>
                  <div class="itemName">phone</div>
                  <div class="itemPrice">300<span>SR</span></div>
              </div>
          </div>
          <div class="item0">
              <div style="background-image: url('https://www.mintmobile.com/wp-content/uploads/2022/09/iPhone_14_Plus_ProductRED_PDP_Image_Position-1A__en-US-min-1.png');" class="itemImg0"></div>
              <div class="itemRightBar">
                  <div class="itemCategory">Electronics</div>
                  <div class="itemName">phone</div>
                  <div class="itemPrice">300<span>SR</span></div>
              </div>
          </div> -->
          
          
        </div>
        <div class="rightBar">
            <!-- <dialog class="dial" open>
            <p>
                <label for="name">Name: <input required id="dialName" type="text"></label>
            </p>
            <p>
                <label for="price">price: <input required id="dialPrice" type="text"></label>
            </p>
            <p>
                <label for="desc">Description: <br> <textarea required id="dialDesc" name="" id="" cols="50" rows="3"></textarea></label>
            </p>
            <p>
                <button id="" type="button" class="btn btn-success confirmBtn">Confirm</button>
                <button id="" type="button" class="btn btn-danger cancleBtn">Cancle</button>
            </p>
            </dialog> -->
          <img class="shopImage" src="https://img.freepik.com/free-vector/cartoon-style-cafe-front-shop-view_134830-697.jpg" alt="">
          <div class="headr">Your items</div>
          <!-- <div class="thisItemImg" style="background-image: url('https://www.mintmobile.com/wp-content/uploads/2022/09/iPhone_14_Plus_ProductRED_PDP_Image_Position-1A__en-US-min-1.png');"></div>
          <div class="infoBar">
            <div class="leftInfo">
              name: phone <br>
              price: 300 
            </div>
            <div class="rightInfo">
              Category: Category <br>
              Date posted: 2023
            </div>
          </div>
          <div class="contactInfo">
            people who wants this item: <br>
            badr@hotmail.com <br>
            salman@gmail.com 
          </div>
          <div class="btnBar">
            <button id="" type="button" class="btn btn-primary editBtn">Edit</button>
            <button id="" type="button" class="btn btn-danger closeleBtn">Close</button>
          </div>
        </div> -->
    </main>
    <footer>
        @2023
    </footer>
</body>
<script src="scripts/items.js"></script>
<!-- <script>
    document.querySelectorAll('.item0').forEach(item => item.addEventListener('click',elemnt=>{
        itemChosen(item);
    }))
</script> -->
</html>