<!DOCTYPE html>
<html>

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<meta charset="utf-8">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<title>S2S</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
 <!-- font-awesome -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- CSS -->
 <link rel="stylesheet" href="css/styles.css">
</head>

<body>



    <!-- nav bar -->
    <nav class="nav-page">
        <a href="index.html">
          <img src="https://cdn-icons-png.flaticon.com/512/5187/5187237.png" class="brand">
        </a>
      </nav>

    <section id="features">
        <form class="form" method="post">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" id="name" value="John Doe" readonly>
            </div>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" id="email" value="example@gmail.com" readonly>
            </div>
            <div class="form-control">
                <label for="phone">Phone</label>
                <input type="number" id="phone" value="0512345678" readonly>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter your password" required>
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" placeholder="Confirm your password" required>
            </div>
            <button type="submit" class="btn">Submit</button>
    </section>


    <!-- footer -->
    <footer id="footer">
        <p>© Team 5</p>
  </footer>

</body>
<script src="scripts/items.js"></script>
</html>